<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Create tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/style.css}">
</head>
<body>

    <h3>You are not authorized</h3>

    <script th:src="@{../js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{../js/bootstrap.min.js}" ></script>

</body>

</html>