.gradient-custom-2 {
    
    background: #fccb90;
  
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  .text-container img{
      width:100px;
      height:100px;
  }
  
  