.sea-tuto{
    margin-top: 3em;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    color:whitesmoke;

}
.navbar-expand-sm {
    display: flex!important;
    flex-basis: auto;
    position: absolute;
    right: 30px;
    color:blueviolet;
  }
.search-search{
    text-align: center;
}

.text{
    width:26em;
    height:4.5em;
    border-radius:2em;
    border:bold;
}
.submit{
    width:8em;
    height:3em;
    border-radius: 2em;
    font-size: 15px;
}
body{
    background-image: url(body.png);
}





