.home-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

td.tut-bottons {
    display: flex;
    justify-content: space-between;
    width: 165px;
}

body{
    overflow-x: hidden;
}

.tutorial-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

 .navbar-expand-sm .navbar-collapse{
    display: flex!important;
    flex-basis: auto;
    position: absolute;
    right: 30px;
    color:blueviolet
  }

  .navbar-nav me-auto mb-2 mb-lg-0{
      color:blue;
  }

.tutorial-botton-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

@media (max-width:850px){
.tutorial-container{
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width:450px){
.tutorial-container{
    grid-template-columns: 1fr;

}
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    box-shadow: 0.25em 0.25em 0.75em rgb(0 0 0 / 25%), 0.25em 0.12em 0.25em rgb(0 0 0 / 25%);
}


ul.dropdown-menu.dropdown-menu-end.show{
    position: absolute !important;
        inset: unset !important;
        margin: 0px !important;
        transform: none !important;
}


.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


.my-form-label {
    margin-top: 50px;
    font-family: revert;
    text-transform: uppercase;
}