<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <!-- <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"> -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>

</head>
<body>

    <!-- navigation start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white fixed-top border-bottom border-white">
        <div class="container-fluid">

            <!-- side bar dashes -->
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
              </button>
            <!-- side bar dashes -->

          <a class="navbar-brand fw-bold text-uppercase me-auto " href="#">SOFTWARE TUTORIALS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <form class="d-flex ms-auto">
                <div class="input-group my-3 my-lg-0">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success border border-white text-white" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                  </div>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
             
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              
              </ul>
          </div>
        </div>
      </nav>
    <!-- navigation end -->

    <!-- side navbar -->
    
      
      <div class="offcanvas offcanvas-start bg-primary text-white sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header pd-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <div class="text-uppercase small fw-bold  px-1 admin-control">
                            admin control
                        </div>
                    </li>
                    <li>
                        <a href="#dash" class="nav-link px-3 active">
                            <span class="me-2">
                                <i class="bi bi-speedometer"></i>
                            </span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <hr class="dropdown-divider "/>
                    </li>
                    <li>
                        <div class="text-uppercase small fw-bold  px-1 admin-control">
                            pop screen
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-nav sidebar-col " 
                        data-bs-toggle="collapse" href="#collapseExample" 
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span class="text-white">Layouts</span>

                            <span class="right-shift ms-auto mx-3">
                                <i class="bi bi-chevron-double-down"></i>
                            </span>
                          </a>

                          <div class="collapse" id="collapseExample">
                            <div>
                               <ul class="navbar-nav ps-3">
                                   <li>
                                       <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-joystick"></i></span>
                                        <span class="text-white">Projects</span>
                                       </a>
                                        <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-stickies"></i>
                                            <i class="bi bi-pen-fill"></i>
                                        </span>
                                         <span class="text-white">Tutorials</span>
                                       </a>
                                       <a href="#" class="nav-link px-3">
                                        <span class="me-2"> <i class="bi bi-people-fill"></i></span>
                                         <span class="text-white">Clients</span>
                                       </a>
                                       
                                   </li>
                               </ul>
                             
                            </div>
                          </div>
                    </li>
                </ul>
            </nav>
             
      </div>
      </div>
    <!-- side navbar end -->

    <!-- main page -->
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-bold fs-3"><span id="dash">Dashboard

                </span></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Users
                        </div>

                        <div class="card-body">
                            <canvas class="chart" width="300" height="200"></canvas>
                        </div>
                    </div>
                </div>
            
             </div>

             <div class="row mt-5">
                 <div class="col-md-12">
                     <div class="card">
                         <div class="card-header">
                             USER/TUTORIAL ENTRIES
                         </div>
                         <div class="card-body">
                             <div class="table-responsive">
                                 <table id="example" class="table table-striped data-table" style="width: 100%;">
                                     <thead>
                                         <tr>
                                             <th>Enrolled Names</th>
                                             <th>E-Mails </th>
                                             <th>Course</th>
                                             <th>Projects Done</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <td>Abel Yohannes</td>
                                             <td>abelyohannes@gmail.com</td>
                                             <td>JAVA</td>
                                             <td>Four(4)</td>
                                         </tr>
                                         <tr>
                                            <td>Bisrat Wallelgn</td>
                                            <td>bisratwalle@gmail.com</td>
                                            <td>C++</td>
                                            <td>Seven(7)</td>
                                        </tr>
                                        <tr>
                                            <td>Sefineh Tesfa</td>
                                            <td>Sefinehtesfa@gmail.com</td>
                                            <td>JAVASCRIPT</td>
                                            <td>Six(6)</td>
                                        </tr>
                                        <tr>
                                            <td> Samuel Abatneh </td>
                                            <td>samuelabatneh @gmail.com</td>
                                            <td>HTML/CSS</td>
                                            <td>FIve(5)</td>
                                        </tr>
                                        <tr>
                                            <td>Yeabsira Tekuamwork</td>
                                            <td>Yeabsiratekuamwork@gmail.com</td>
                                            <td>PYTHON</td>
                                            <td>Seven(7)</td>
                                        </tr>
                                        <tr>
                                            <td>Biruk Amde</td>
                                            <td>Biraman@gmail.com</td>
                                            <td>PYTHON</td>
                                            <td>Six(6)</td>
                                        </tr> <tr>
                                            <td>Tilahun Zeru</td>
                                            <td>zerihuntile@gmail.com</td>
                                            <td>JAVASCRIPT</td>
                                            <td>Seven(7)</td>
                                        </tr> <tr>
                                            <td>Gezahegn Yakob</td>
                                            <td>siyumgizawgmail.com</td>
                                            <td>C++</td>
                                            <td>Eight(8))</td>
                                        </tr> <tr>
                                            <td>Tamrat Wallelgn</td>
                                            <td>tameboy@gmail.com</td>
                                            <td>RUBY</td>
                                            <td>Seven(7)</td>
                                        </tr> <tr>
                                            <td>Winta Kibret</td>
                                            <td>Wanchaw@gmail.com</td>
                                            <td>HTML/CSS</td>
                                            <td>Eight(8)</td>
                                        </tr> <tr>
                                            <td>Tinbit Alemseged</td>
                                            <td>Tinbitko@gmail.com</td>
                                            <td>JAVA</td>
                                            <td>Three(3)</td>
                                        </tr> <tr>
                                            <td>Ashenafi Haile</td>
                                            <td>Haile@gmail.com</td>
                                            <td>JAVASCRIPT</td>
                                            <td>Seven(7)</td>
                                        </tr> <tr>
                                            <td>Kifle Tegegn</td>
                                            <td>kifle@gmail.com</td>
                                            <td>C++</td>
                                            <td>Ten(10)</td>
                                        </tr> <tr>
                                            <td>Beza Alemu</td>
                                            <td>bezanesh@gmail.com</td>
                                            <td>PYTHON</td>
                                            <td>Five(5)</td>
                                        </tr> <tr>
                                            <td>Wallelgn Tatek</td>
                                            <td>bwalle@gmail.com</td>
                                            <td>RUBY</td>
                                            <td>Seven(7)</td>
                                        </tr>
                                     </tbody>
                                     <tfoot>
                                        <tr>
                                            <th>Enrolled Names</th>
                                            <th>E-Mails </th>
                                            <th>Course</th>
                                            <th>Projects Done</th>
                                        </tr>
                                    </tfoot>
                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

        </div>
    </main>
    <!-- main page ends -->






    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    
</body>
</html>