<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enrolled Tutorials</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>

<div class="card" style="width: 18rem;" th:each="tutorial : ${enrolledTutorials}">
    <img th:src="@{../images/tutorial_image.PNG}" th:class="card-img-top" alt="tutorial image">
    <div th:class="card-body">
        <h5 class="card-title" th:text="${tutorial.getTitle()}">Tutorial Title</h5>
        <p class="card-text" th:text="${tutorial.getContent()}">Tutorial Content</p>
        <a th:href="@{/tutorials/detail/{tutorialId}(tutorialId=${tutorial.tutorialId})}" class="btn btn-primary">Explore</a>

        <form method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="hidden" name="tutorialId" th:value="${tutorial.tutorialId}">
            <button type="submit" class="btn btn-primary">unenroll</button>

        </form>
    </div>
</div>

</div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>