<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Software Tutorials</title>
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">


</head>

<body data-spy="scroll" data-target=".main-nav">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{login.html}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/register.html}">Register</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="@{about.html}">About us</a>
        </li>
    </div>
  </div>
</nav>
	<section class="home" id="home" data-stellar-background-ratio="0.4">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="st-home-unit">
						<div class="hero-txt">
							<div class="p-image">
							<p class="hero-work"> Here is the bEST place for</p>
							<img th:src="@{/images/sucess.png}" />
							<img th:src="@{/images/news.png}" />
							<img th:src="@{/images/know.png}" />
							<img th:src="@{/images/R.png}" />
							<img th:src="@{/images/capacity.png}" />
							<img th:src="@{/images/class.png}" />
							</div>
							<div class="explore">
								<ul>
							<li><h5>click login link at the top of the page to explore tutorials</h5></li>
							<li><h5>click register link at the top of the page to register for tutorials</h5></li>
							<li><h5>click about link at the top of the page to contact us</h5></li>
							    </ul>
							</div>


						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
