<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Software Tutorials</title>

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700'
		rel='stylesheet' type='text/css'>
	<!-- Bootstrap -->
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/font-awesome.min.css}" rel="stylesheet">


	<link th:href="@{css/owl.carousel.css}" rel="stylesheet">
	<link th:href="@{css/owl.theme.css}" rel="stylesheet">
	<link th:href="@{css/owl.transitions.css}" rel="stylesheet">

	<link th:href="@{css/style.css}" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".main-nav">

	<header class="st-navbar">
		<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img th:src="@{images/logo.png}" alt="" class="img-responsive"></a>
				</div>

				<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
					<ul class="nav navbar-nav navbar-right">
						<!--<li class="active"><a href="#home">Home</a></li> -->
						<li><a href="#">Login</a></li>
						<li><a href="#">Signup</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="home" id="home" data-stellar-background-ratio="0.4">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="st-home-unit">
						<div class="hero-txt">
							<p class="hero-work">Software Development - UX Design - AI</p>
							<h3 class="hero-title">BEST place to be influencial Software Engineer</h3>
							<a href="#" class="btn btn-main btn-lg">Explore Tutorials ... </a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
