<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Software Tutorials</title>
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">

	<link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">


</head>

<body class="bg-color" data-spy="scroll" data-target=".main-nav" >
<nav class="navbar navbar-expand-sm navbar-light bg-light ">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img class="img-fluid " style="width:6rem" th:src="@{/images/logo.png}"></a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			
				<li class="nav-item" th:if="${user} != null and ${user.getRole()} == 'ADMIN'">
                    <a th:href="@{/admin}" class="nav-link fw-bold ">Manage System</a>
				</li>

				<li class="nav-item" th:if="${loggedIn}">
					<a th:href="@{/tutorials/all}" class="nav-link fw-bold ">Explore Tutorials ... </a>
				</li>

				<li class="nav-item" th:if="${!loggedIn}">
					<a th:href="@{/login}" class="nav-link fw-bold ">Explore Tutorials ... </a>
				</li>

				<li class="nav-item" th:if="${loggedIn}">
					<a class="nav-link fw-bold " aria-current="page" th:href="@{/profile}">My Profile</a>
				</li>

				<li class="nav-item" th:if="${!loggedIn}">
					<a class="nav-link fw-bold " aria-current="page" th:href="@{/register}">Register</a>
				</li>
				<li class="nav-item" th:if="${!loggedIn}">
					<a class="nav-link fw-bold "  th:href="@{/login}">Login</a>
				</li>
				<form method="POST" th:action="@{/logout}" th:if="${loggedIn}">
					<li class="nav-item">
						<button style="background:none;border:none;" type="submit" class="nav-link fw-bold ">Logout</button>
					</li>
				</form>
			</ul>
		</div>
	</div>
</nav>
<p class=" mt-4 display-3
text-center fw-bold  py-sm-4" >Here is the best place for...</p>

<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="card"><img class="card-img-top img-fluid" th:src="@{/images/sucess.png}" />
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="card"><img alt="Card image cap" class="card-img-top img-fluid" th:src="@{/images/news.png}"/>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="card"><img alt="Card image cap" class="card-img-top img-fluid" th:src="@{/images/know.png}" />
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card"><img alt="Card image cap" class="card-img-top img-fluid" th:src="@{/images/R.png}" />

		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card"><img alt="Card image cap" class="card-img-top img-fluid" th:src="@{/images/capacity.png}" />

		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="card"><img alt="Card image cap" class="card-img-top img-fluid"  th:src="@{/images/class.png}" />

		</div>
	</div>
</div>


<div class="display-5 py-sm-3 text-center" style="transform: scale(1.5); margin-top: 30px;">

	<a th:if="${loggedIn}" th:href="@{/tutorials/all}" class="btn btn-main btn-primary">Explore Tutorials ... </a>
	<a th:if="${!loggedIn}" th:href="@{/login}" class="btn btn-main btn-primary">Explore Tutorials ... </a>

</div>

<div class="text-center" style="margin:50px;">
	&copy; Copyright All rights reserved!
</div>

</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
