<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Software Tutorials</title>
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/register.css}" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".main-nav">

<nav class="navbar navbar-expand-sm navbar-light bg-light"
style="background-color: #dcd6dd";></nav>>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/home.html}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/login.html}">Login</a>
        </li>
		
    </div>
  </div>
</nav>
<section class="h-100" style="background-color: #d8cbda;">
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col">
		  <div class="card card-registration my-4">
			<div class="row g-0">
			  <div class="col-xl-6 d-none d-xl-block">
				<img
				src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
				  alt="Sample photo"
				  class="img-fluid"
				  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
				/>
			  </div>
			  <div class="col-xl-6">
				<div class="card-body p-md-5 text-black">
				  <h3 class="mb-5 text-uppercase"> Registration form</h3>
  
				  <div class="row">
					<div class="col-md-6 mb-4">
					  <div class="form-outline">
						<input type="text" id="form3Example1m" class="form-control form-control-lg" />
						<label class="form-label" for="form3Example1m">First name</label>
					  </div>
					</div>
					<div class="col-md-6 mb-4">
					  <div class="form-outline">
						<input type="text" id="form3Example1n" class="form-control form-control-lg" />
						<label class="form-label" for="form3Example1n">Last name</label>
					  </div>
					</div>
				  </div>
  
				  <div class="row">
					<div class="col-md-6 mb-4">
					  <div class="form-outline">
						<input type="text" id="form3Example1m1" class="form-control form-control-lg" />
						<label class="form-label" for="form3Example1m1">Mother's name</label>
					  </div>
					</div>
					<div class="col-md-6 mb-4">
					  <div class="form-outline">
						<input type="text" id="form3Example1n1" class="form-control form-control-lg" />
						<label class="form-label" for="form3Example1n1">Father's name</label>
					  </div>
					</div>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="text" id="form3Example8" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example8">Address</label>
				  </div>
  
				  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
					<h6 class="mb-0 me-4">Gender: </h6>
  
					<div class="form-check form-check-inline mb-0 me-4">
					  <input
						class="form-check-input"
						type="radio"
						name="inlineRadioOptions"
						id="femaleGender"
						value="option1"
					  />
					  <label class="form-check-label" for="femaleGender">Female</label>
					</div>
  
					<div class="form-check form-check-inline mb-0 me-4">
					  <input
						class="form-check-input"
						type="radio"
						name="inlineRadioOptions"
						id="maleGender"
						value="option2"
					  />
					  <label class="form-check-label" for="maleGender">Male</label>
					</div>
				  </div>
				  <div class="row">
					<div class="col-md-6 mb-4">
					  <select class="select">
						<option value="1">State</option>
						<option value="2">Option 1</option>
						<option value="3">Option 2</option>
						<option value="4">Option 3</option>
					  </select>
					</div>
					<div class="col-md-6 mb-4">
  
					  <select class="select">
						<option value="1">City</option>
						<option value="2">Option 1</option>
						<option value="3">Option 2</option>
						<option value="4">Option 3</option>
					  </select>
  
					</div>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="text" id="form3Example9" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example9">DOB</label>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="text" id="form3Example90" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example90">Pincode</label>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="text" id="form3Example99" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example99">Course</label>
				  </div>
  
				  <div class="form-outline mb-4">
					<input type="text" id="form3Example97" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example97">Email ID</label>
				  </div>
  
				  <div class="d-flex justify-content-end pt-3">
					<button type="button" class="btn btn-light btn-lg">Reset all</button>
					<button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
				  </div>
  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

	

</body>
</html>
