<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tutorial Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.min.css}">
	<link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img-fluid " style="width:6rem" th:src="@{/images/logo.png}"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item" th:if="${loggedIn}">
                    <a th:href="@{/tutorials/all}" class="nav-link fw-bold ">Back to Tutorials </a>
                </li>

                <li class="nav-item" th:if="${loggedIn}">
                    <a class="nav-link fw-bold " aria-current="page" th:href="@{/profile}">My Profile</a>
                </li>

                <li class="nav-item" th:if="${!loggedIn}">
                    <a class="nav-link fw-bold " aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${!loggedIn}">
                    <a class="nav-link fw-bold "  th:href="@{/login}">Login</a>
                </li>
                <form method="POST" th:action="@{/logout}" th:if="${loggedIn}">
                    <li class="nav-item">
                        <button style="background:none;border:none;" type="submit" class="nav-link fw-bold ">Logout</button>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>
    <div class="card container" style="min-width: 600px;margin-top: 30px;">
        <div class="card-body">
            <h4 class="card-title" th:text="${tutorial.title}"></h4>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Enjoy your tutorial</h6>
            <p class="card-text" th:text="${tutorial.content}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <hr>
            <h4>Project</h4>

            <div th:if="${tutorial.project}!=null">
                <div>
                    <h4 th:text="${tutorial.project.title}"></h4>
                    <p th:text="${tutorial.project.problemStatement}"></p>
                </div>
    
    
                <div th:if="${enrollementService.checkGithubLink(tutorial)}">
                    <form method="POST">
                        <div th:if="${param.error}" class="alert alert-danger">
                            Validation Error, Please enter the correct link.
                        </div>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <label for="projectUrl">Enter the github link to submit the project</label>
                        <input style="max-width:400px;" class="form-control is-valid" type="url" required id="projectUrl" name="projectUrl">
                        <input type="hidden" th:value="${tutorial.tutorialId}" name="tutorialId">
    
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary mt-2">
                                Submit Project
                            </button>
                        </div>
                    </form>

                </div>
                <div th:if="${!enrollementService.checkGithubLink(tutorial)}">
                    <h6>You have already submitted the project</h6>
                </div>
            </div>

            <div th:if="${tutorial.project}==null"><h6>This tutorial has no project!</h6></div>

            
            


            <a th:href="@{/tutorials/all}" class="card-link">Back to tutorials</a>
        </div>


    </div>


    <div class="text-center" style="margin:50px;">
        &copy; Copyright All rights reserved!
    </div>


    <script th:src="@{../../js/bootstrap.min.js}" ></script>
    <script th:src="@{../../js/bootstrap.bundle.min.js}" ></script>
</body>
</html>